*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Lato', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Quicksand', sans-serif;
    */
}

.center{
    max-width: 900px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background-color: #1877f2;
    padding: 8px 0;
}

/* logo do facebook */

.logo{
    position: relative;
    top: 28px;
    float: left;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.logo h2{
    font-weight: bolder;
    font-size: 34px;
}

/* formulário para login */

.form-login{
    float:right;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size: 14px;
    margin-top: 0px;
}

.form-element input[type=email],
input[type=password]{
    margin-top: 5px;
}

.form-element .ajustar-linha{
    color: #1877f2;
    display: block;
    padding-top: 5px;
    font-weight: normal;
}

.form-element .ajustar-linha::selection{
    color: #1877f2;
}

.form-element .esqueceu-senha{
    display: block;
    text-decoration: none;
    padding-top: 5px;
    font-weight: normal;
}

.form-element input[type=submit]{
    cursor: pointer;
    border: 0;
    background-color: #0062ff;
    color: white;
    padding: 4px;
}

.form-element .ajustar-linha-2{
    color: #1877f2;
    display: block;
    padding-top: 4px;
    font-weight: normal;
}

.form-element .ajustar-linha-2::selection{
    color: #1877f2;
}

.form-element input[type=submit]:hover{
    background-color: #0040a8;
}

/* conteúdo principal */

main{
    background: linear-gradient(white, #D3D8E8);
    height: auto;
    padding: 20px;
}

.metade-1{
    height: 100%;
    width: 50%;
    float:left;
}

/* texto convencedor */

p.texto{
    width: 80%;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 15px;
}

/* imagem */

.img-pessoas img{
    width: 100%;
    display: block;
}

.metade-2{
    height: 100%;
    width: 50%;
    float: right;
}

.abrir-conta{
    float:left;
}

.abrir-conta h2{
    font-size: 36px;
    font-weight: bolder;
}

.abrir-conta h3{
    padding: 15px 0;
}

.criar-conta .w50{
    width: 50%;
    float: left;
    padding: 5px 5px;
}

.criar-conta .w100{
    width: 100%;
    float: left;
    padding: 5px 5px;
}

.criar-conta input{
    width: 100%;
}

.criar-conta input[type=text],
.criar-conta input[type=email],
.criar-conta input[type=password]{
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

/* Data de nascimento */

.w100 .nascimento{
    float: left;
    margin-top: 5px;
    padding: 4px;
}

/*
.data-nascimento p {
    padding-top: 170px;
    padding-bottom: 5px;
}

.data-nascimento input {
    width: 50%;
    margin: 0 5px;
    float: left;
}
*/

.data-nascimento span {
    width: 40%;
    color: blue;
    font-size: 12px;
    float: left;
    margin-left: 10px;
}

/* sexo */

.sexo {
    margin: 20px 0;
}

.sexo input{
    margin: 0;
    margin-left: 10px;
    width: auto;
}

.confirmacao p{
    font-size: 12px;
}

.botao-cadastrar input{
    width: 220px;
    background-color: green;
    margin: 15px 0;
    height: 40px;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.botao-cadastrar input:hover{
    background-color: #026e12;
}

.divulgacao {
    margin-top: 30px;
    margin-bottom: 10px;
}

.divulgacao a{
    text-decoration: none;
}

footer .linguagens{
    margin-top: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

footer .linguagens p{
    display: inline-block;
    margin: 0 0px;
    font-size: 12px;
    color: #1877f2;
}

footer .linguagens p:first-child{
    color: #ccc;
}

footer .linguagens .imagem img{
    position: relative;
    top: 4px;
}

footer .outros-links {
    margin-top: 8px;
}

footer .outros-links p{
    display: inline-block;
    font-size: 12px;
    color: #1877f2;
    margin: 0 10px;
}

footer .final p {
    font-size: 10px;
    margin: 15px 0;
    padding-bottom: 15px;
}

@media screen and (max-width: 768px){
    .logo{
        float:none;
        width: 100%;
        text-align: center;
        position: static;
    }

    /* formulário para login */

    .form-login{
        float:none;
        width: 100%;
        text-align: center;
        margin-top: 17px;
    }

    .form-login .form-element{
        display: block;
        margin-right: 0;
        width: 100%;
        max-width: 320px;
        text-align: center;
        margin: 0 auto;
    }

    .form-element p{
        margin-top: 15px;
        text-align: left;
    }

    .form-element input[type=email],
    .form-element input[type=password]{
        margin-top: 5px;
        width: 100%;
    }

    .form-element .ajustar-linha{
        display: none;
    }

    .form-element .esqueceu-senha{
        margin-top: -15px;
    }

    .form-element input[type=submit]{
        border: 1px solid black;
        width: 100%;
        margin: 15px auto;
    }

    .form-element .ajustar-linha-2{
        display: none;
    }

    /* metade 1 */

    .metade-1{
        display:none;
    }

    /* metade 2 */

    .metade-2{
        width: 100%;
    }

    /* data de nascimento */

    .data-nascimento span{
        width: 100%;
        margin: 10px 0;
    }
}